
<div class="card my-4">
          <h5 class="card-header">Latest Posts</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class=" mb-0">
                    {%	for	post	in	latest_posts	%}
                             
                    
                  <li>
                    <a	href="{{	post.get_absolute_url	}}">{{	post.title	}}</a>
                  </li>
                       
                  {%	endfor	%}
                  
                </ul>
              </div>
            </div>
          </div>
        </div>